CREATE OR REPLACE FUNCTION admin_delete_from_table(table_name text, user_id_value uuid) RETURNS void AS $$ BEGIN EXECUTE format('DELETE FROM %I WHERE user_id = %L', table_name, user_id_value); END; $$ LANGUAGE plpgsql SECURITY DEFINER;
