CREATE OR REPLACE FUNCTION public.delete_user_direct(p_user_id UUID) RETURNS boolean AS $$ BEGIN EXECUTE format('DELETE FROM users WHERE user_id = %L', p_user_id); RETURN true; END; $$ LANGUAGE plpgsql SECURITY DEFINER;
