CREATE OR REPLACE FUNCTION public.admin_delete_user_data(target_user_id UUID) RETURNS BOOLEAN LANGUAGE plpgsql SECURITY DEFINER SET search_path = public AS $$ BEGIN DELETE FROM public.users WHERE user_id = target_user_id; RETURN TRUE; END; $$; GRANT EXECUTE ON FUNCTION public.admin_delete_user_data(UUID) TO authenticated; GRANT EXECUTE ON FUNCTION public.admin_delete_user_data(UUID) TO service_role;
