CREATE OR REPLACE FUNCTION public.execute_sql(sql_query text) RETURNS json AS $$ BEGIN EXECUTE sql_query; RETURN json_build_object('success', true); EXCEPTION WHEN OTHERS THEN RETURN json_build_object('success', false, 'error', SQLERRM); END; $$ LANGUAGE plpgsql SECURITY DEFINER;
